.container__feedback {
    width: 980px;
    height: 100%;
}

.feedback__item {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.feedback__item-in {
    text-align: center;
}

.feedback__img {
    width: 280px;
    height: 280px;
}

